Checks: '*,-llvmlibc-*,-modernize-use-trailing-return-type,-readability-identifier-length,-readability-braces-around-statements,-hicpp-braces-around-statements,-cppcoreguidelines-owning-memory,-fuchsia-overloaded-operator,-altera-struct-pack-align,-google-explicit-constructor,-hicpp-explicit-conversions,-misc-no-recursion,-altera-unroll-loops,-altera-id-dependent-backward-branch,-misc-non-private-member-variables-in-classes,-google-readability-braces-around-statements,-cppcoreguidelines-pro-type-union-access,-cppcoreguidelines-non-private-member-variables-in-classes,-fuchsia-default-arguments-calls,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-android-cloexec-fopen,-llvm-header-guard,-cppcoreguidelines-avoid-c-arrays,-hicpp-avoid-c-arrays,-modernize-avoid-c-arrays'
HeaderFilterRegex: '.*'
