AlignAfterOpenBracket: BlockIndent
AlignOperands: AlignAfterOperator
AllowShortCaseLabelsOnASingleLine: true
BasedOnStyle: Google
BinPackArguments: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true
ColumnLimit: 80
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: false
PointerAlignment: Left
ReflowComments: true
SortIncludes: true
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
SpacesInCStyleCastParentheses: false
TabWidth: 2
UseTab: AlignWithSpaces
